<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'google-font' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="Site">

<%= yield %>

</body>
</html>
